* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: bisque;
    padding: 15px 15px;
    text-align: center;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 3rem;
}
.choice img{
    height: 230px;
    width: 235px;
    transform: rotate(-90deg);
}

.choice:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    gap: 5rem;
    margin-top: 70px;
}

.score {
    text-align: center;
}

#user-score,#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 4rem;
    text-align: center;
}

#msg {
    background-color: #081b31;
    text-align: center;
    font-size: 2rem;
    padding: 15px 15px;
    color: #fff;
    border-radius: 10px;
}

#reset-btn {
    background-color: #081b31;
    text-align: center;
    font-size: 2rem;
    padding: 15px 15px;
    color: #fff;
    border-radius: 10px;
    margin-top: 4rem;
    display: inline;
}

#reset-btn:hover {
    background-color: #219ebc;
    transform: scale(1.05);
}